.box {
  background: #ffffff;
  border: 1px solid #9d9fa4;
  border-radius: 12px;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subjudul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.card {
  padding-top: 5px;
  background: #f9f9f9;
  text-align: center;
  height: 200px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Alert */

.alert-info {
  background: #e0f2fe;
  border: 1px solid #38bdf8;
  display: flex;
  position: relative;
  padding-left: 5px;
  width: 100%;
}

.close {
  background-color:transparent;
  border: none;
  position: absolute;
  right: 1px;
  align-items: center;
  color: black;
  padding: 2px;
}
/* Alert End */

/* Profile Card */
.flexbox-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
}


.avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding-top: 5px;
}

.badge {
  position: absolute;
  right: 2px;
  top: 4px;
  background: rgb(0, 223, 0);
  color: white;
  font-size: 11px;
  font-weight: bold;
  border-radius: 50px;
  padding: 4px 6px;
}

.relative {
  position: relative;
}
/* wadah/parent flexbox */

.flexbox-area {
  /* wajib flex */
  display: flex;
  /* atur arah items */
  /* flex-direction: column-reverse; */
  /* default = row */
  /* colum,colum reverse, row, row reverse */
  flex-direction: row;
  /* atur jarak antar items */
  gap: 20px;
  /* atur posisi horizontal */
  justify-content: center;
  /* atur penempatan items */
  /* default = flex-start */
  /* flex-end, center, stretch, dll */
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
    
}


.fitur {
  font-size: small;
  line-height: 3px;
}

.price {
  font-size: large;
  color: blue;
}
.pro-blue {
  border-color: #4f46e5;
  transform: scale(1.05);
  height: 240px;
  width: 240px;
}

.pricing-card {
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 5px;
  flex-wrap: wrap;
}
