.container h1
 {
  text-align: center; /* bikin isi kontainer rata tengah */
  color: #1332ac;
}

.container {
  width: 80%;
  margin: auto;
}

.logo{
  margin-top: 40px;
}

.logo img {
  display: block; /* ubah gambar jadi block */
  margin: 0 auto; /* kasih auto margin biar ke tengah */
  width: 50px;
  height: 40px;
}

#subjudul h4,hr {
  color: gray;
  text-align: center;
}

#subjudul h2,h3 {
  color: #1332ac;
}

.section-title {
  padding-left: 20px; /* ruang agar teks tidak mepet garis */
  border-left: 4px solid #d3a11a; /* garis aksen di kiri */
}

.photo {
   width: 200px !important;/* atau 250px sesuai kebutuhan */
  height: 200px !important; /* samakan dengan width untuk bulat sempurna */
  object-fit: cover; /* isi area tanpa distorsi */
  border-radius: 50%;
  border: 3px solid #e5e7eb;
  text-align: left;
  margin-left: 20px !important;
}

.avatar {
  width: 200px !important;/* atau 250px sesuai kebutuhan */
  height: 200px !important; /* samakan dengan width untuk bulat sempurna */
  object-fit: cover; /* isi area tanpa distorsi */
  border-radius: 50%;
  border: 3px solid #e5e7eb;
  text-align: left;
  margin-left: 20px !important;
}

.box-1{
  background: #ffffff;
  border: 1px solid #9d9fa4;
  border-radius: 12px;
  margin-top: 70px;
  border-radius: 12px;
  padding: 12px
}

.box {
  background: #ffffff;
  border: 1px solid #9d9fa4;
  border-radius: 12px;
  margin-top: 20px;
  border-radius: 12px;
  padding: 12px
}

.menu {
  text-align: center;
  margin-top: 40px;
}

.quote {
  color: #d3a11a;
}


